@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
}

.header {
    font-size: 80px;
    font-weight: 800;

}

/* .main-title {
    display: flex;
} */

img {
    border-radius: 50%;
    max-width: 50vw;
    max-height: 50vh;
    border: 10px solid var(--secondary-color);
}

.info-container {
    display: flex;
    /* justify-content: space-between;  */
}

.image {

}

.info {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;

    padding-left: 400px;
    padding-top: 20px;
    font-size: 30px;
}

.elem {
    padding-bottom: 10px;
    flex: 1;
}