@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

h1.name {
    font-size: 120px;
    line-height: 100px;
    font-weight: 800;
}

div.typewriter {
    font-size: 65px;
    font-weight: 500;
    line-height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

span.typewriter {
    font-weight: 700;
}
