@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    /* height: 100vh;
    padding-left: 60px;
    padding-right: 60px; */
}

.main-container {
    display: grid;
    place-content: flex-start center;
    /* height: 100vh; */
    color: var(--primary-color);
}

.navbar {
    display: flex;
    position: relative;
    padding: 0.25rem;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #000000;
    width: fit-content;
    background-color: #ffffff;
}

.tab {
    display: block;
    position: relative;
    z-index: 10;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    mix-blend-mode: difference;
    

    @media (min-width: 768px) {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.cursor {
    position: absolute;
    z-index: 0;
    border-radius: 9999px;
    background-color: #000000;

    @media (min-width: 768px) {
        height: 3rem;
        width: 5rem;
    }
}
