@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.projects-title {
    background-image: url("../assets/img/coding-img.jpg");
}

.project-image {
    border: 7px solid var(--primary-color); 
    background-color: rgba(148, 72, 255, 0.168);
}

:hover.project-image {
    border-color: var(--secondary-color);
}