:root {
    --primary-color: #ffffff;
    --secondary-color: rgba(148, 72, 255, 0.679);
    --translucent-color: rgba(148, 72, 255, 0.168);
    --dark-translucent: rgba(10, 10, 35, 0.5);
}

* {
    background-color: transparent;
    color: var(--primary-color);
}

.bg-dark {
    background-color: #0a0a23; /* Dark background */
    background-image: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.303) 1px,
            transparent 1px
        ),
        radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 150px 150px; /* Adjust for spacing */
    background-position: 0 0, 75px 75px; /* Creates a pattern offset */
    overflow: hidden;
}

.primary-color {
    color: var(--primary-color);
}

.accent-color {
    color: var(--secondary-color);
}

.purple-bg {
    background-color: var(--secondary-color);
}

.purple-translucent {
    background-color: var(--translucent-color);
}

.dark-translucent {
    background-color: var(--dark-translucent);
}


